In [4]:
import pandas as pd

In [5]:
List = [1,2,3,4,5]
List

[1, 2, 3, 4, 5]

In [6]:
seri = pd.Series(List)

In [7]:
IndexList = ['a','b','c','d','e']

In [8]:
pd.Series(List,IndexList)
#Burada Listemin indexini 'IndexList' 'deki verilerle yapılmasını sağladım.

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
seri.T

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
seri.head()
#bu metod default olarak serinin ilk 5 elemanını gösterir. head(x) ise serinin ilk x elemanını gösterir

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
seri.tail(2)
#bu metod default olarak serinin son 5 elemanını gösterir. tail(x) ise serinin son x elemanını gösterir

3    4
4    5
dtype: int64

In [15]:
seri.describe()
#seriyi tanımlıyor

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [16]:
seri.size

5

In [17]:
pd.Series(List,IndexList)
#shift+(tab+tab) yaparak fonksiyonun alacağı parametreleri detaylı görebiliyoruz.
# parametre olarak (List,IndexList) sıralama olarak Data ve Index olduğu için isim belirtmemize gerek yok.

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
pd.Series(data = List,copy=True)
#parametreleri sırasız bir şekilde girmek istiyorsak hangi parametreyi görmek istediğimizi belirtmemiz gerekiyor.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
calisanlar = ['Ali','Abdullah','Mehmet']
maas = [5000,4000,7000]

In [20]:
maas_seri =pd.Series(calisanlar,maas)
maas_seri

5000         Ali
4000    Abdullah
7000      Mehmet
dtype: object

In [23]:
a = pd.read_csv('kumbara.csv')
a
#bu bir seri değil dataframedir. Dataframe'ler birden fazla serinin birleşmesiyle oluşur.

        Günler  Kumbara
0    Pazartesi        1
1         Salı        2
2     Çarşamba        3
3     Perşembe        4
4         Cuma        5
..         ...      ...
244      Pazar      245
245  Pazartesi      246
246       Salı      247
247   Çarşamba      248
248   Perşembe      249

[249 rows x 2 columns]

In [32]:
gunlerSerisi = pd.read_csv('kumbara.csv',index_col=['Günler'],squeeze=True)
gunlerSerisi
#Burada index_col ile index sütununun günler olmasını sağladım. squeeze ile de bunları dataframe halinden seri haline dönüştürdm

Günler
Pazartesi      1
Salı           2
Çarşamba       3
Perşembe       4
Cuma           5
            ...
Pazar        245
Pazartesi    246
Salı         247
Çarşamba     248
Perşembe     249
Name: Kumbara, Length: 249, dtype: int64

# Python Built-in Functions

yani python'da gömülü fonksiyonlar

In [22]:
len(List)

5

# Serilerde Sıralama

In [105]:
sorted(gunlerSerisi)
#Python'da sıralama

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249]

In [33]:
gunlerSerisi.sort_values(inplace=True)
#Pandas'ta sıralama
#burada inplace'i True yaptığım zaman yapılan değişikliğin serinin asıl haline de uygulanmasını sağladım

In [34]:
gunlerSerisi.sort_index(inplace=False)

Günler
Cuma        124
Cuma         26
Cuma        222
Cuma        166
Cuma         82
           ...
Çarşamba    213
Çarşamba    108
Çarşamba     31
Çarşamba    150
Çarşamba    248
Name: Kumbara, Length: 249, dtype: int64

In [35]:
gunlerSerisi

Günler
Pazartesi      1
Salı           2
Çarşamba       3
Perşembe       4
Cuma           5
            ...
Pazar        245
Pazartesi    246
Salı         247
Çarşamba     248
Perşembe     249
Name: Kumbara, Length: 249, dtype: int64

In [45]:
gunlerSerisi.get([0,100])
#0-10 arasındaki elemanları gösterdi

Günler
Pazartesi      1
Çarşamba     101
Name: Kumbara, dtype: int64

In [49]:
gunlerSerisi.get(0)
#0. elemanın değeri

1

In [46]:
gunlerSerisi.get([0])
#0.satır

Günler
Pazartesi    1
Name: Kumbara, dtype: int64

In [47]:
gunlerSerisi.get(['Pazartesi','Salı'],default="aradığınız gün listede yok")
#burada default değerini değiştirdim ve aranan eleman listede yoksa vereceği sonucu belirttim

Günler
Pazartesi      1
Pazartesi      8
Pazartesi     15
Pazartesi     22
Pazartesi     29
            ...
Salı         219
Salı         226
Salı         233
Salı         240
Salı         247
Name: Kumbara, Length: 72, dtype: int64

# Apply Metodu

In [54]:
seri =pd.Series([5,1,4,5,2,4,7,2,5,9])
seri

0    5
1    1
2    4
3    5
4    2
5    4
6    7
7    2
8    5
9    9
dtype: int64

In [55]:
def sayiEkle(sayi):
    return sayi+2

In [57]:
seri.apply(sayiEkle)
#appyle metodu ile bir fonksiyonu seriye uyguladım

0     7
1     3
2     6
3     7
4     4
5     6
6     9
7     4
8     7
9    11
dtype: int64

In [59]:
def cevir(sayi):
    if sayi==1:
        return 'bir'
    elif sayi == 2:
        return 'iki'
seri.apply(cevir)

0    None
1     bir
2    None
3    None
4     iki
5    None
6    None
7     iki
8    None
9    None
dtype: object

# Map Metodu

In [74]:
calisanlar = ["Ali","Halil","Mehmet","Zeynep","Esra"]
seri = pd.Series(calisanlar)
kuraSonucu = {'Ali':0,'Halil':1,'Mehmet':3,'Zeynep':4,'Esra':2}
seri

0       Ali
1     Halil
2    Mehmet
3    Zeynep
4      Esra
dtype: object

In [69]:
kuraSerisi = pd.Series(kuraSonucu)

In [70]:
kuraSerisi

Ali       0
Halil     1
Mehmet    3
Zeynep    4
Esra      2
dtype: int64

In [73]:
kuraSerisi.map(seri)

Ali          Ali
Halil      Halil
Mehmet    Zeynep
Zeynep      Esra
Esra      Mehmet
dtype: object